laskarit/viikko2/Unicafe/target/
Vuoronvaihto/target
.DS_Store
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/nbproject/
/Vuoronvaihto/nbproject/